<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.uname}}</title>
    
    <style>
        #uname{
            text-transform: uppercase;
        }
        body {
            background: rgb(99, 39, 120)
        }
        
        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }
        
        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }
        
        .profile-button:hover {
            background: #682773
        }
        
        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }
        
        .profile-button:active {
            background: #682773;
            box-shadow: none
        }
        
        .back:hover {
            color: #682773;
            cursor: pointer
        }
        
        .labels {
            font-size: 11px
        }
        
        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }
    </style>
</head>
<body>
    
<div class="container rounded bg-white mt-5 mb-5">
    <h1>{{mess}}</h1>
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="static/{{MEDIA_URL}}{{data.profile_pic}}"><span class="font-weight-bold" id="uname">{{data.uname}}</span><span class="text-black-50" id="url"></span><span> </span></div>
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit"
                onclick="geturl()">Copy Link</button></div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Name</label>
                        <input type="text" class="form-control" placeholder="first name" name="fname" value="{{data.fname}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold  ">Surname</label>
                        <input type="text" class="form-control" placeholder="first name" name="lname" value="{{data.lname}}">
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row mt-3">
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Mobile Number</label>
                        <input type="text" class="form-control" placeholder="first name" name="mobile" value="{{data.mobile}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Mobile Number 2</label>
                        <input type="text" class="form-control" placeholder="first name" name="mobile_nd" value="{{data.mobile_nd}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Address Line 1</label>
                        <input type="text" class="form-control" placeholder="first name" name="address" value="{{data.address}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Address Line 2</label>
                        <input type="text" class="form-control" placeholder="first name" name="address_nd" value="{{data.address_nd}}">
                    </div>

                    <div class="col-md-6 "><label class="labels font-weight-bold ">Father Name</label>
                        <input type="text" class="form-control" placeholder="first name" name="fatherName" value="{{data.fatherName}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold  font-weight-bold">Mother
                            Name</label>
                        <input type="text" class="form-control" placeholder="first name" name="motherName" value="{{data.motherName}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Aadhar</label>
                        <input type="text" class="form-control" placeholder="first name" name="aadhar" value="{{data.aadhar}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Postcode</label>
                        <input type="text" class="form-control" placeholder="first name" name="pincode" value="{{data.pincode}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">State</label>
                        <input type="text" class="form-control" placeholder="first name" name="state" value="{{data.state}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">City</label>
                        <input type="text" class="form-control" placeholder="first name" name="city" value="{{data.city}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Gender</label>
                        <input type="text" class="form-control" placeholder="first name" name="gender" value="{{data.gender}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Date of Birth</label>
                        <input type="date" class="form-control" placeholder="first name" name="dob" value="{{data.dob | date:'Y-m-d'}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Language</label>
                        <input type="text" class="form-control" placeholder="first name" name="language" value="{{data.language}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Email</label>
                        <input type="text" class="form-control" placeholder="first name" name="email" value="{{data.email}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Blood Group</label>
                        <input type="text" class="form-control" placeholder="first name" name="bloodGroup" value="{{data.bloodGroup}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Symptoms</label>
                        <input type="text" class="form-control" placeholder="first name" name="symptoms" value="{{data.symptoms}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Hobby</label>
                        <input type="text" class="form-control" placeholder="first name" name="hobby" value="{{data.hobby}}">
                    </div>
                    <div class="col-md-6 "><label class="labels font-weight-bold ">Allergy</label>
                        <input type="text" class="form-control" placeholder="first name" name="allergy" value="{{data.allergy}}">
                    </div>
                    <div class="col-md-12"><label class="labels font-weight-bold ">Past Medical Records</label>
                        <input type="text" class="form-control" placeholder="first name" name="pastMediacalRec" value="{{data.pastMediacalRec}}">
                    </div>
                    <div class="col-md-12"><label class="labels font-weight-bold ">Other</label>
                        <input type="text" class="form-control" placeholder="first name" name="other" value="{{data.other}}">
                    </div>

                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit"
                            >Save
                            Profile</button></div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    
    var base_url = window.location.origin;
    document.getElementById('url').innerHTML= base_url+'/u/{{data.uname}}'
    function geturl(){
        var textToCopy = document.getElementById('url').innerHTML;

    
    var textArea = document.createElement("textarea");
    textArea.value = textToCopy;
    document.body.appendChild(textArea);

    // Select the text inside the text area
    textArea.select();

    // Copy the selected text to the clipboard using the Clipboard API
    document.execCommand("copy");

    // Remove the temporary text area
    document.body.removeChild(textArea);

    // Alert the user that the text has been copied
    alert("Text has been copied to the clipboard: " + textToCopy);
    }
</script>
</body>
</html>